
[submodule "src/crazyswarm2"]
	path = src/crazyswarm2
	url = https://github.com/IMRCLab/crazyswarm2
[submodule "src/motion_capture_tracking"]
	path = src/motion_capture_tracking
	url = https://github.com/IMRCLab/motion_capture_tracking
[submodule "src/pololu_ros/deps/crazyflie-link-cpp"]
	path = src/pololu_ros/deps/crazyflie-link-cpp
	url = git@github.com:Olumat/crazyflie-link-cpp.git
	branch = keyboard-interface
