/target
*.log
*.csv
/Debug
*/install
*/logs
*/build
*/log
*.png
*.pdf
**/__pycache__/
*.swp
.venv
/datavis/TR*
/datavis/TR[0-9][0-9]
/datavis/my_display.py
/datavis

PARAMETER_SYNC_README.md
REFACTORING_NOTES.md
TESTING_GUIDE.md