
[submodule "src/crazyswarm2"]
	path = src/crazyswarm2
	url = https://github.com/IMRCLab/crazyswarm2
[submodule "src/motion_capture_tracking"]
	path = src/motion_capture_tracking
	url = https://github.com/IMRCLab/motion_capture_tracking
[submodule "src/pololu_ros/deps/crazyflie-link-cpp"]
	path = src/pololu_ros/deps/crazyflie-link-cpp
	url = git@github.com:Olumat/crazyflie-link-cpp.git
	branch = keyboard-interface
[submodule "src/wmr_controller/deps/wmr-simulator"]
	path = src/wmr_controller/deps/wmr-simulator
	url = git@github.com:IMRCLab/wmr-simulator.git
[submodule "src/wmr_controller/external/cmcgs"]
	path = src/wmr_controller/external/cmcgs
	url = https://github.com/kallekku/cmcgs.git
[submodule "src/wmr_controller/external/ann-cmcgs-async/baselines/cmcgs"]
	path = src/wmr_controller/external/ann-cmcgs-async/baselines/cmcgs
	url = https://github.com/kallekku/cmcgs.git
